@import "style";

.button {
  @include for-desktop-only {
    width: 1170px;
  }

  @include for-tablet-only {
    font-size: 14px;
  }

  @include for-phone-only {
    font-size: 12px;
  }

  width: 95%;
  border-radius: 8px;
  border: none;
  height: 51px;
  font-size: 18px;
  background: $secondary-color;
  color: $primary-color;
  font-family: $font;
  margin: 20px auto;
  cursor: pointer;
}
