@import "style";

.gallery {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  @include for-desktop-only {
    width: 1170px;
  }

  &_section {
    @include for-desktop-only {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 0 16px;
  }

  &_container {
    position: relative;
  }

  &_author {
    position: absolute;
    bottom: 24px;
    left: 8px;
    font-size: 12px;
    color: $primary-color;
  }

  &_photo {
    width: 100%;
    border-radius: 8px;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 16px;

    &:hover{
      filter: brightness(.5);
    }
  }
}
